*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  --background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  background: var(--background-color);
}
@media (prefers-color-scheme: dark) {
  body, html {
    --background-color: #111;
  }
}

svg-icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  stroke: currentColor;
  overflow: visible;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  gap: 1em;
  padding: 0.75em;
}

.benefit-sites {
  display: flex;
  align-content: end;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  gap: 0.75em;
  overflow-y: scroll;
  flex-basis: 100%;
}

.search {
  margin-top: auto;
}
.search-input {
  width: 100%;
  padding: 0.75em 1.25em;
  font-size: 1em;
  border: 2px solid #aaa;
  border-radius: 100vmax;
  color: #333;
  background: transparent;
}
@media (prefers-color-scheme: dark) {
  .search-input {
    color: #fff;
    border-color: #ccc;
  }
}

benefit-site {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 150px;
  aspect-ratio: 4 / 3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3f4652;
  border-radius: 12px;
  overflow: hidden;
}
benefit-site.placeholder {
  height: 1px;
  visibility: hidden;
}
benefit-site .site-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
benefit-site.no-image .site-image {
  display: none;
}
benefit-site .label {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  padding: 0.75em;
  font-size: 0.75em;
  --filter: blur(4px) brightness(0.75);
  -webkit-backdrop-filter: var(--filter);
  backdrop-filter: var(--filter);
}
benefit-site.no-image .label {
  --filter: unset;
}
benefit-site .site-name, benefit-site .site-categories {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
benefit-site .site-name {
  font-weight: bold;
}
benefit-site .favorite-button {
  position: absolute;
  display: grid;
  place-items: center;
  top: 7px;
  right: 7px;
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0;
  border-radius: 100vmax;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  cursor: pointer;
}
benefit-site .favorite-button svg-icon {
  margin-top: 1px;
  width: 24px;
  height: 24px;
  color: #111;
}
benefit-site.favorited .favorite-button {
  background: rgba(255, 255, 255, 1);
  backdrop-filter: none;
}
benefit-site.favorited .favorite-button svg-icon {
  color: #f00;
}
benefit-site .site-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
}
